.theme-switcher {
  /* margin: 0 auto; */
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}
.theme-switcher input {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.theme-switcher span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.4s;
  border-radius: 34px;
  width: 100%;
  border: 1px solid var(--main);
}
.theme-switcher span:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--main);
  transition: 0.4s;
  border-radius: 50%;
}

.theme-switcher input:checked + span:before {
  transform: translateX(24px);
}
