* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.StickerBoard {
  margin: 0 auto;
  max-width: 1024px;
  padding: 50px 20px;
}

.StickerFilter {
  margin: 20px auto;
  display: block;
  min-width: 60px;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.StickerBoard h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: darkgray;
  margin: 20px auto;
}

.Sticker__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.Sticker__card {
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 10px 10px 5px #00000033;
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s;
}

.Sticker__card:hover,
.Sticker__card:focus {
  transform: scale(1.1);
  transition: all 0.3s;
}

.Sticker__card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Sticker__card span {
  display: block;
  width: fit-content;
  font-size: 11px;
  color: #000;
  padding: 3px;
  background-color: #ffffff80;
  border-radius: 5px;
  border: 1px solid #000000cc;
}

.Sticker__card button,
.Sticker__AddNew button {
  border-radius: 5px;
  border: 1px solid #000000cc;
  outline: none;
  color: #000;
  background-color: #fff;
  width: 20px;
  height: 20px;
  line-height: 18px;
  cursor: pointer;
}

.Sticker__card textarea,
.Sticker__AddNew textarea {
  resize: none;
  display: block;
  width: 100%;
  padding: 5px;
  height: calc(100% - 20px);
  border: 1px solid #000000;
  background-color: #ffffe0;
}
.Sticker__AddNew {
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 10px 10px 5px #00000033;
  width: 200px;
  height: 200px;
  padding: 10px;
  transition: all 0.3s;
}

.Sticker__AddNew form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.Sticker__AddNew:hover,
.Sticker__AddNew:focus {
  transform: scale(1.1);
  transition: all 0.3s;
}

.Sticker__AddNew button {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}
